.section--about {
  padding: 5rem 0px;
}

.section--reviews {
  padding: 10rem 0px 6.4rem;
}

.section--shop-now {
  padding: 6.4rem 0;
}

.section--mission {
  padding: 10rem 0;
}

.section--visit {
  padding: 6rem 0 16.5rem;
}
